.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

body {
  background-color: rgb(40, 40, 40);
}

.navbar {
  background-color: black;
}

.navbar-brand {
  color: red;
  font-weight: bold;
  font-size: 2rem;
}
